// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$my-sunset: #F6D8AE;
$my-charcoal: #2E4057;
$my-blue: #083D77;
$my-cerise: #DA4167;
$my-yellow: #F4D35E;
