.index-container {
  opacity: 1;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.index-grid-container {
  flex: 1 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100%;
}

.index-links {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
}

.index-links-right {
  form {
    display: flex;
  }

  input[type="text"] {
    font-size: 3rem;
    letter-spacing: 0.3rem;
    width: 10rem;
    border: 2px solid red;
  }
}

.index-links-button-image {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  img {
    display: block;
  }
}
