<div class="index-container">
  <div class="index-banner">
    <div class="index-banner-title">
      <h2>PARMAGEDDON</h2>
    </div>
    <div class="index-banner-image">
    </div>
  </div>
  <div class="index-hero">
    <h1>Find a Parma that's right for you.</h1>
  </div>
  <div class="index-links">
    <div class="index-links index-links-left">
      <p>Find a Parma</p>
    </div>
    <div class="index-links index-links-mid">
      <p>Enter your postcode</p>
    </div>
    <div class="index-links index-links-right">
      <input></input>
      <%= link_to map_path do %>
        <%= image_tag asset_url("chevron-right-double.svg"), size: '25' %>
      <% end %>
    </div>
  </div>
</div>
