<div class="map-container">
  stuff
  <gmp-map center="-37.82395935058594,144.9911346435547" zoom="14" map-id="DEMO_MAP_ID">
    stuff
    <gmp-advanced-marker position="-37.82395935058594,144.9911346435547" title="My location"></gmp-advanced-marker>
  </gmp-map>
</div>
stuff
