.venue-card-container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  * {
    padding: 0.2rem;
  }
}

.venue-card-bg {
  background-color: #B4B4B4;
  color: 222222;
}

.venue-card-ratings {
  font-weight: 700;
}

.venue-card-rating-main {
  background-color: #B4B4B4;
  color: white;
}
