.venue-card-container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  height: 100%;

  * {
    padding: 0.2rem;
  }
}

.venue-card-bg {
  background-color: #FB8B24;
  color: white;
}

.venue-card-ratings {
  font-weight: 700;
}
