.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  flex: 0 1 auto;
  background-color: #354f52;
  box-shadow: 3px 3px 3px rgba(47, 62, 70, 0.3);

  a {
    font-family: $my-font;
    font-size: 1.2rem;
    text-decoration: none;
  }

  a, i {
    color: #DDDDDD;
    margin: 0 0.5rem;
    font-weight: 600;
  }
}
