// Graphical variables
@import "config/fonts";
@import "config/colors";

// External libraries
@import "font-awesome";
@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/map";

// ****** app-wide styles *******

* {
  padding: 0;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: #EFEFEF;
}

h1 {
  font-family: $my-font;
  font-size: 4.5rem;
}

h2 {
  font-family: $my-font;
  font-size: 3rem;
}

// ****** bootstrap classes *******

.alert {
  display: flex;
  padding: 0.75rem 1.25rem;
  background-color: $my-yellow;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  position: absolute;
  align-items: center;
  justify-content: space-between;
}

.close-btn {
  height: 20px;
  width: 20px;
  background-color: $my-cerise;
  border: none;
  border-radius: 50%;
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 24px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.close-btn:hover {
  color: black;
}

.stripes {
  background: repeating-linear-gradient(
    -55deg,
    #FFF,
    #FFF 10px,
    #EEE 10px,
    #EEE 200px
  );
}
