// Graphical variables
@import "config/fonts";
@import "config/colors";

// External libraries
@import "font-awesome";
@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/map";

* {
  padding: 0;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

h1 {
  font-family: $my-font;
  font-size: 4.5rem;
}

h2 {
  font-family: $my-font;
  font-size: 3rem;
}
