// Graphical variables
@import "config/fonts";
@import "config/colors";

// External libraries
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/map";

// * {
//   border: 1px solid red;
// }

h1 {
  font-family: $my-font;
  font-size: 4.5rem;
}

h2 {
  font-family: $my-font;
  font-size: 3rem;
}
